<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="Repox proxy" value="https://repox.jfrog.io/artifactory/api/nuget/nuget" />
    <add key="Repox releases" value="https://repox.jfrog.io/repox/api/nuget/sonarsource-nuget-releases" />
  </packageSources>
  <packageSourceCredentials>
    <Repox_x0020_proxy>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
    </Repox_x0020_proxy>
    <Repox_x0020_releases>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
    </Repox_x0020_releases>
  </packageSourceCredentials>
</configuration>