@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://www.google.com/search?q=weather" target="_blank">Important</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
