@page "/cfg"
@using VisualCfg.BigBrain
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>VisualCFG</PageTitle>

<textarea @bind="codeSnippet" @oninput="HandleValueChanged"></textarea>

<p>Current value: @codeSnippet</p>

<textarea id="whatever" @bind="cfgOutput"></textarea>

<br />
<br />
<br />

<div id="graphContainer"></div>


@code {
    private string codeSnippet = string.Empty;
    private string cfgOutput = string.Empty;

    private async void HandleValueChanged(ChangeEventArgs args)
    {
        codeSnippet = args.Value.ToString();
        Console.WriteLine($"Text changed to: {codeSnippet}");
        var either = BigBrain.Compiler.CompileCfg(codeSnippet);
        cfgOutput = either.HasResult ? either.Result : either.Error.ToError();

        await JS.InvokeVoidAsync("d3GraphInterop", "graphContainer", cfgOutput);
    }
}
